# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.pnp
.pnp.js
yarn.lock
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
*.ipa

# Native
android/
ios/
.kotlin/

# Metro
.metro-health-check*
.metro/

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs/
*.log.*

# Environment
.env*
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Testing
coverage/
.nyc_output/
__tests__/coverage/
*.lcov

# Build
build/
dist/
out/
.next/
.nuxt/
.output/

# Cache
.cache/
.temp/
.tmp/
*.tmp
*.temp
.eslintcache
.stylelintcache
.prettiercache

# OS
.DS_Store
*.pem
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
.directory
.Trash-*

# Misc
.vercel
.turbo
storybook-static/
